* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(3, 0, 31);
  color: white;
  font-family: "Lexend", sans-serif;
}
.App {
  min-height: 100vh;
  display: flex;
}
.sidebar {
  flex: 3;
  border-right: 1px solid rgb(100, 100, 100);
}
.main {
  flex: 9;
}
.logo {
  margin-right: 1rem;
}
.brand {
  font-size: 2rem;
}
.uperSide {
  padding: 2rem;
}
