* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(3, 0, 31);
  color: white;
  font-family: "Lexend", sans-serif;
}
.App {
  min-height: 100vh;
  display: flex;
}
.sidebar {
  flex: 3;
  border-right: 1px solid rgb(100, 100, 100);
}
.main {
  flex: 9;
}
.logo {
  margin-right: 1rem;
}
.brand {
  font-size: 2rem;
}
.uperSide {
  padding: 2rem;
}

.midBtn {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(3, 0, 31);
  color: white;
  padding: 8px 12px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}
.addBtn {
  width: 3rem;
  height: 3rem;
}
.query {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(3, 0, 31);
  color: white;
  padding: 8px 12px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
  margin-top: 1rem;
}
.lowerSide {
  width: 100%;
  height: auto;
  border-top: 1px solid gray;
  padding: 8px 12px;
  margin-top: 150px;
}
.listItems {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(3, 0, 31);
  color: white;
  padding: 10px 15px;
  border: 1px solid gray;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 8px;
}

/* ! main div  */
.main {
  min-height: calc(100vh - 14rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 6rem;
  margin-bottom: 0;
}

.chats {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh - 17rem);
}
.chat {
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}
.bot {
  background-color: rgb(28, 30, 58, 1);
  width: fit-content;
  border-radius: 0.5rem;
}

.chatImg {
  object-fit: cover;
  width: 3.5rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.chatFooter {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inp {
  padding: 0.5rem;
  background-color: rgb(25, 30, 58, 1);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 68rem;
}

.inp > input {
  width: calc(100% - 3rem);
  outline: none;
  padding: 1.2rem;
  color: white;
}

.inp > input,
.send {
  background-color: transparent;
  border: none;
}
.chatFooter > p {
  margin: 2rem 0;
}
